body,
button,
input,
form {
  font-family: "Barlow", sans-serif;
}

a {
  color: inherit;
}

.red-text {
  cursor: pointer;
  color: #D1170E;
}

.red-text :hover {
  color: #940000;
}

.sidenav {
  width: 250px;
  padding-top: 15px;
}

.small-spacing p {
  margin: 1.5px 0;
}

.bold {
  font-weight: bold;
}

.head_links a {
  position: sticky;
  display: inline-block;
  text-decoration: none;
  overflow: hidden;
}

.head_links a::after {
  content: '';
  position: absolute;
  bottom: 15%;
  left: 0%;
  width: 0%;
  height: 4%;
  background: white;
  transition: width 0.5s ease;
}

.head_links a:hover::after {
  width: 100%;
}

.icon-align-prereq {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.small-material-icons {
  font-size: 18px;
  padding-right: 5px;
}