body,
button,
input,
form {
  font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  color: inherit;
}

.brand-logo {
  font-size: 1.5rem;
}

.sidenav {
  width: 250px;
  padding-top: 15px;
}

.small-spacing p {
  margin: 1.5px 0;
}

i {
  margin: 0;
  padding-right: 5px;
}

.main-section {
  margin: -15px 0;
}