body,
button,
input,
form,
.dropdown-content a {
  font-family: "Barlow", sans-serif;
  color: #f0f6fc !important;
}

section,
.dropdown-content {
  background-color: #0d1117;
}

section {
  margin: -10px 0;
}

a {
  color: inherit;
}

h3 {
  padding: 0 0 16px;
}

.card,
.collection-item,
.dropdown-content a:hover,
.dropdown-content li:hover {
  background-color: #151b23 !important;
}

.collection-item {
  border-bottom: solid 1px #3d444d !important;
}

.card {
  margin: 0 0 25px !important;
}

.left-side.col {
  padding: 0;
}

.right-side.col {
  padding: 0;
}

.right-side .collection {
  border: none;
  margin: 0 !important;
}

.red-text {
  cursor: pointer;
  color: #D1170E;
}

.red-text :hover {
  color: #940000;
}

.sidenav {
  width: 250px;
  padding-top: 15px;
}

.small-spacing p {
  margin: 1.5px 0;
}

.bold {
  font-weight: bold;
}

.head_links a {
  position: sticky;
  display: inline-block;
  text-decoration: none;
  overflow: hidden;
}

.head_links a::after {
  content: '';
  position: absolute;
  bottom: 15%;
  left: 0%;
  width: 0%;
  height: 4%;
  background: white;
  transition: width 0.5s ease;
}

.head_links a:hover::after {
  width: 100%;
}

.icon-align-prereq {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.small-icons {
  size: 18px;
  font-size: 18px;
  padding-right: 5px;
}

#lastFirstUi {
  display: none;
}

#lastStatus {
  padding: 0 0 20px 0;
}

.brand-logo {
  font-size: 1.5rem;
}

.sidenav {
  width: 250px;
  padding-top: 15px;
}

i {
  margin: 0;
  padding-right: 5px;
}

.icon-m {
  padding-right: 10px;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-item a {
  display: flex;
  align-items: center;
}

.nav-item i {
  margin-right: 8px;
}

.h3-icon {
  margin-right: 4px;
}

@media (min-width: 600px) {
  .left-side.col {
    padding: 0 10px 0 0;
  }
  
  .right-side.col {
    padding: 0 0 0 10px;
  }
}